{% trans_default_domain 'FOSUserBundle' %}

<p class="login-box-msg">Inicie Sesión</p>

{% if error %}
    <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <h4>
            <i class="icon fa fa-ban"></i>
            Error!
        </h4>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group has-feedback">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
               placeholder="{{ 'security.login.username'|trans }}" required="required"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input class="form-control" type="password" id="password" name="_password" required="required"
               placeholder="{{ 'security.login.password'|trans }}"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            {#<div class="checkbox icheck">#}
            {#<label>#}
            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on">#}
            {#{{ 'security.login.remember_me'|trans }}#}
            {#</label>#}
            {#</div>#}
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <input type="submit" name="_submit" class="btn btn-primary btn-block btn-flat"
                   value="{{ 'security.login.submit'|trans }}"/>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('fos_user_resetting_request') }}">Olvidé mi contraseña</a><br>
        </div>
    </div>
</form>
