{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Análisis Epistemológico</h3>
            </div>

            <div class="box-body">
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.texto) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.cambiosNormas) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.adhesiones) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.abrogaciones) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.caducidades) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.conflictosNormativos) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.refundiciones) }}
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Norma</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.rama) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.numero) }}
                    </div>
                </div>

                {{ form_row(form.ramaVigenteNoConsolidada) }}
                {{ form_row(form.vigenteNoConsolidada) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.tipoOrdenanza) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.numeroAnterior) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.fechaSancion) }}
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                {{ form_row(form.observacion) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.decretoPromulgatorio) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.fechaPromulgacion) }}
                    </div>
                </div>

                {{ form_row(form.tipoPromulgacion) }}
                {{ form_row(form.temaGeneral) }}
                {{ form_row(form.activo) }}

            </div>

        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Datos del Boletín Oficial</h3>
            </div>

            <div class="box-body">
                {{ form_row(form.tipoBoletin) }}
                <div class="numero-boletin">
                    {{ form_row(form.numeroBoletin) }}
                    {{ form_row(form.fechaPublicacionBoletin) }}
                </div>
                <div class="boletin-oficial">
                    {{ form_row(form.boletinOficialMunicipal) }}
                </div>
                {{ form_row(form.paginaBoletin) }}
            </div>

        </div>
    </div>
    <div class="col-md-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Análisis Documental</h3>
            </div>

            <div class="box-body">
                {{ form_row(form.descriptores) }}
                {{ form_row(form.palabrasClave) }}
                {{ form_row(form.identificadores) }}
                {{ form_widget(form.beneficiarioNormas) }}
            </div>

        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Textos</h3>
            </div>

            <div class="box-body">

                {{ form_widget(form.archivoNorma) }}
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Anexos</h3>
            </div>

            <div class="box-body">
                {{ form_row(form.anexos) }}
            </div>

        </div>
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>

<div class="hidden">
    {{ form_end(form) }}
</div>

{% block javascripts %}
    <script>
        $(document).ready(function () {

            if ($('.tipo-boletin').val() == 2) {
                $('.numero-boletin').hide()
                $('.boletin-oficial').show()
            } else {
                $('.numero-boletin').show()
                $('.boletin-oficial').hide()
            }

            $('.tipo-boletin').change(function () {
                if ($(this).val() == 2) {
                    $('.numero-boletin').hide()
                    $('.boletin-oficial').show()
                } else {
                    $('.numero-boletin').show()
                    $('.boletin-oficial').hide()
                }
            })
        });
    </script>
{% endblock %}
