{% extends 'base.html.twig' %}

{% block title %}Normas{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/datatables') }}
{% endblock stylesheets %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-2">
            <a class="btn btn-primary" href="{{ path('norma_new') }}">Nueva Norma</a>
        </div>


        <div class="col-xs-12">
            <div class="box collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                {{ form_start(filter_type) }}
                <div class="box-body">
                    <div class="col-md-6">
                        {{ form_row(filter_type.rama) }}
                        {{ form_row(filter_type.numero) }}
                        {{ form_row(filter_type.texto) }}

                    </div>
                    <div class="col-md-6">
                        {{ form_row(filter_type.fechaSancion) }}
                        {{ form_row(filter_type.temaGeneral) }}
                        {{ form_row(filter_type.paginaBoletin) }}

                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(filter_type.buscar) }}
                    {{ form_widget(filter_type.limpiar) }}
                </div>
                <div class="hidden">
                    {{ form_end(filter_type) }}
                </div>
            </div>
        </div>


        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Normas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <table id="tabla-norma" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Rama</th>
                            <th>Número</th>
                            <th>Tema General</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for norma in normas %}
                            <tr>
                                <td>{{ norma.id }}</td>
                                <td>{{ norma.rama }}</td>
                                <td>{{ norma.numero }}</td>
                                <td>{{ norma.temaGeneral }}</td>
                                <td>
                                    <a class="btn btn-default" href="{{ path('norma_show', {'id': norma.id}) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-default" href="{{ path('norma_edit', {'id': norma.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                {{ knp_pagination_render(normas) }}
            </div>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-primary" href="{{ path('norma_new') }}">Nueva Norma</a>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('js/datatables') }}
    <script>
        $('#tabla-norma').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': false
        })
    </script>
{% endblock javascripts %}
