{% extends 'base.html.twig' %}

{% block title %}Norma{% endblock %}

{% block body %}

   <div class="row">
       <div class="col-xs-6">

           <div class="box">
               <div class="box-header">
                   <h3 class="box-title">Norma</h3>
               </div>
               <!-- /.box-header -->
               <div class="box-body">

                   <table class="table">
                       <tbody>
                       <tr>
                           <th>Id</th>
                           <td>{{ norma.id }}</td>
                       </tr>
                       <tr>
                           <th>Fecha Sanción</th>
                           <td>{{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</td>
                       </tr>
                       <tr>
                           <th>Tema General</th>
                           <td>{{ norma.temaGeneral }}</td>
                       </tr>
                       <tr>
                           <th>Número</th>
                           <td>{{ norma.numero }}</td>
                       </tr>
                       <tr>
                           <th>Página Boletín</th>
                           <td>{{ norma.paginaBoletin }}</td>
                       </tr>
                       <tr>
                           <th>Observacion</th>
                           <td>{{ norma.observacion }}</td>
                       </tr>
                       <tr>
                           <th>Decreto Promulgatorio</th>
                           <td>{{ norma.decretoPromulgatorio }}</td>
                       </tr>
                       <tr>
                           <th>Fecha Promulgación</th>
                           <td>{{ norma.fechaPromulgacion ? norma.fechaPromulgacion|date('Y-m-d') : '' }}</td>
                       </tr>
                       <tr>
                           <th>Activo</th>
                           <td>{{ norma.activo ? 'Si' : 'No' }}</td>
                       </tr>
                       <tr>
                           <th>Fecha Creación</th>
                           <td>{{ norma.fechaCreacion ? norma.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                       </tr>
                       <tr>
                           <th>Fecha Actualización</th>
                           <td>{{ norma.fechaActualizacion ? norma.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
                       </tr>
                       <tr>
                           <th>Creado Por</th>
                           <td>{{ norma.creadoPor }}</td>
                       </tr>
                       <tr>
                           <th>Actualizado Por</th>
                           <td>{{ norma.actualizadoPor }}</td>
                       </tr>
                       </tbody>
                   </table>


               </div>
               <div class="box-footer">
                   <a class="btn btn-default" href="{{ path('norma_index') }}">Volver</a>

                   <a class="btn btn-primary" href="{{ path('norma_edit', {'id': norma.id}) }}">Editar</a>
               </div>
           </div>
       </div>
   </div>

{% endblock %}
