{% block bootstrapcollection_widget %}
    {% block javascripts %}

        {% set itemsCount = form.vars.data is not null ? form  | length : 0 %}

        <script type="text/javascript">

            var itemCant{{ form.vars.id }} = {{ itemsCount | default(0) }};
            $(document).ready(function () {

                $('#{{ form.vars.id }} .bootstrapcollection-agregar-otro-item').click(function () {

                    var itemList = $('#{{ form.vars.id }} table');
                    if (itemList.find('tbody tr').length < {{ max_items_add }}) {

                        var newWidget = itemList.data('prototype');
                        newWidget = newWidget.replace(/{{ prototype_name }}/g, itemCant{{ form.vars.id }});
                        var newTr = $('<tr item="' + itemCant{{ form.vars.id }} + '"></tr>').html(newWidget);
                        itemCant{{ form.vars.id }}++;
                        newTr.appendTo(itemList);
                    }
                    inicializarPlugins(newTr);
                });

            });</script>
    {% endblock javascripts %}

    {% spaceless %}

        {% set form_prototype %}
            {% for widget_prototype in form.vars.prototype %}
                <td>
                    {{ form_errors(widget_prototype) }}
                    {{ form_widget(widget_prototype) }}
                </td>
            {% endfor %}
            <td class="cell-center">
                <a class="btn btn-default" title="Borrar item"
                   href="javascript:void(0)"
                   onclick="bootstrapCollectionBorrarItem(this);">
                    <i class="fa fa-fw fa-trash-o"></i>
                </a>
            </td>
        {% endset %}

        <div id="{{ form.vars.id }}" class="bootstrapcollection">

            <table class="table table-striped table-bordered"
                   data-prototype="{{ form_prototype |e }}">

                <thead>
                <tr>
                    {% for widget_prototype in form.vars.prototype %}
                        <th>
                            {{ widget_prototype.vars.label |default(widget_prototype.vars.name|humanize) }}
                        </th>
                    {% endfor %}
                    <th style="width: 50px;">{{ 'Accion' |trans }}</th>
                </tr>
                </thead>

                <tbody>

                {% for child in form %}
                    <tr item="{{ loop.index0 }}" {% if child.vars.valid %} class="bootstrap-collection-history {% if not display_history %} hidden{% endif %}" {% endif %}>
                        {% for widget in child %}
                            <td>
                                {{ form_errors(widget) }}
                                {{ form_widget(widget) }}
                            </td>
                        {% endfor %}

                        {% if child.vars.valid %}
                            <td class="cell-center">
                                {% if form.vars.allow_delete %}
                                    <a class="btn btn-default" title="Borrar item"
                                       href="javascript:void(0)"
                                       onclick="bootstrapCollectionBorrarItem(this);">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                    </a>
                                {% endif %}
                                {% if form.vars.extra_actions %}
                                    {% for action in form.vars.extra_actions %}
                                        <button type="button" {% if action.title %}data-toggle="tooltip" title="{{ action.title }}" {% endif %}
                                                data-id="{{ child.vars.data.id }}" class="btn btn-default {{ action.class }}">
                                            <i class="fa {{ action.icon }}"></i>
                                        </button>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="cell-center">
                                <a class="btn btn-default"
                                   title="Borrar item"
                                   href="javascript:void(0)"
                                   onclick="bootstrapCollectionBorrarItem(this);">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>

            </table>
            {#{% if form.vars.max_items_add < (form.vars.data | length) %}#}
            <div class="box-footer clearfix no-border">
                <a class="btn btn-default pull-right bootstrapcollection-agregar-otro-item">
                    <i class="fa fa-plus"></i> {{ 'Agregar' |trans }}</a>
            </div>
            {#{% endif %}#}
            <br>
        </div>
    {% endspaceless %}
{% endblock bootstrapcollection_widget %}
