<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Consolidación {{ consolidacion.anio }} - Anexo A{{ consolidacion.enCurso ? ' - Listado Provisorio' : '' }} </title>
</head>
<style>
    thead{display: table-header-group;}
    tfoot {display: table-row-group;}
    tr {page-break-inside: avoid;}

    td, table {
        border: 1px solid black;
    }
    td {
        padding: 2px 4px;
    }
    tr.even {
        background-color: #f1f1f1;
    }
</style>
<body>
<h1 style="text-align: center;">Consolidación {{ consolidacion.anio }}<small>{{ consolidacion.enCurso ? ' Listado Provisorio' : '' }}</small></h1>
<br>
<h2 style="text-align: center; text-decoration: underline;">ANEXO A</h2>
<br>
<p style="text-align: justify;">Listado de Ordenanzas y normas de igual jerarquía de alcance general que por imperio de la presente Ordenanza se consolidan en el Digesto Jurídico de la Ciudad de Posadas.</p>
<table>
    <tbody>
    {% for norma in anexoA %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td style="text-align: center;">{{ norma.rama.numeroRomano }}</td>
            <td style="text-align: center;">{{ norma.numero }}</td>
            <td>{{ norma.temaGeneral }}</td>
            <td>{{ norma.fechaSancion | date('d/m/Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
