{% extends '/Web/layout.html.twig' %}

{% block title %}{{ titulo }} -{% endblock title %}

{% block meta_social %}

    {% set description = 'Buscador de ordenanzas' %}
    {% set url = app.request.uri %}
    {% set image = absolute_url(asset('build/images/portada-share.png')) %}

    {# facebook #}
    <meta property="og:url"
          content="{{ url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ titulo }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ image }}"/>

    {# twitter #}
    <meta name="twitter:card" content="summary"/>
    {#        <meta name="twitter:site" content="@djmposadas"/>#}
    {#        <meta name="twitter:creator" content="@djmposadas"/>#}
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:title" content="{{ titulo }}"/>
    <meta property="og:description"
          content="{{ description }}"/>
    <meta property="og:image"
          content="{{ image }}"/>

{% endblock meta_social %}


{% block stylesheets %}
    <style>
        body {
            background-color: #F2F3F4;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="page-header text-center">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="container">

        <section class="mb-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.rama) }}</div>
                            <div class="col-md-6">{{ form_row(form.numero) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.anio) }}</div>
                            <div class="col-md-6">{{ form_row(form.palabra) }}</div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                {{ form_row(form.buscar) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>

        {% if resultados %}
            <div class="row">
                <div class="col-12">
                    {% for row in resultados | batch(2) %}
                        <div class="row">
                            {% for norma in row if norma.rama%}
                                <div class="col-sm-6">
                                    <a class="panel panel-default {% if norma.vigenteNoConsolidada %}bg-danger{% endif %}"
                                       href="{{ path('ver_ordenanza', { 'id': norma.id}) }}">
                                        <div class="panel-body">
                                            <div class="media">
                                                <div class="media-left padding-5">
                                                    <i class="fa fa-file-text-o fa-fw fa-3x text-secondary"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h3>{{ norma.rama.titulo }} {{ norma.rama.numeroRomano }}
                                                        - {{ norma.numero }} {% if norma.numeroAnterior %} - (Nº Anterior: {{ norma.numeroAnterior }}/{{ norma.fechaSancion | date('y') }}) {% endif %}</h3>
                                                    <p class="text-muted">{{ norma.temaGeneral }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row text-center">
                <div class="col-xs-12">
                    {{ knp_pagination_render(resultados) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}