{% extends '/Web/layout.html.twig' %}

{% block title %}{{ titulo }} -{% endblock title %}

{% block meta_social %}

    {% set description = 'Carta Orgánica, Códigos, Ordenanzas de consolidación' %}
    {% set url = app.request.uri %}
    {% set image = absolute_url(asset('build/images/portada-share.png')) %}

    {# facebook #}
    <meta property="og:url"
          content="{{ url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ titulo }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ image }}"/>

    {# twitter #}
    <meta name="twitter:card" content="summary"/>
    {#        <meta name="twitter:site" content="@djmposadas"/>#}
    {#        <meta name="twitter:creator" content="@djmposadas"/>#}
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:title" content="{{ titulo }}"/>
    <meta property="og:description"
          content="{{ description }}"/>
    <meta property="og:image"
          content="{{ image }}"/>

{% endblock meta_social %}

{% block stylesheets %}
    <style>
        .well {
            background-color: #2e7d33;
            color: #fff;
        }

        a {
            text-decoration: none;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="page-header text-center">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% for documento in documentos %}
                        <div class="well text-center">{{ documento.grupo }}</div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li>
                                        <a href="{{ asset('uploads/documentos/documentos_web/' ~ documento.nombreDocumento) }}">{{ documento.titulo }}
                                            <i class="fa fa-download"></i></a>
                                    </li>
                                    {% for anexo in documento.anexos %}
                                        <li>
                                            <a href="{{ asset('uploads/documentos/documentos_anexos_web/' ~ anexo.nombreDocumentoAnexo) }}">{{ anexo.titulo }}
                                                <i class="fa fa-download"></i></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </section>
    </div>
{% endblock content %}


