<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="text/x-icon" href="{{ asset('favicon.png') }}">
    {% set title = 'Digesto Jurídico Municipal Posadas' %}
    <title>{% block title %}Inicio -{% endblock title %} {{ title }}</title>

    <!-- Nav and address bar color -->
    <meta name="theme-color" content="{{ primary_color }}">
    <meta name="msapplication-navbutton-color" content="{{ primary_color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ primary_color }}">


    {% block meta_social %}

        {% set description = 'Sitio del Digesto Jurídico Municipal Posadas' %}
        {% set url = app.request.uri %}
        {% set image = absolute_url(asset('build/images/portada-share.jpg')) %}

        {# facebook #}
        <meta property="og:url"
              content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ image }}"/>

        {# twitter #}
        <meta name="twitter:card" content="summary"/>
{#        <meta name="twitter:site" content="@djmposadas"/>#}
{#        <meta name="twitter:creator" content="@djmposadas"/>#}
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description"
              content="{{ description }}"/>
        <meta property="og:image"
              content="{{ image }}"/>

    {% endblock meta_social %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    {{ encore_entry_link_tags('css/web') }}
    {{ encore_entry_link_tags('css/app') }}

    <style>
        .main-footer a {
            text-decoration: unset;
        }

        .main-footer, .prologo {
            background-color: #f5f5f5;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>

    {% block stylesheets %}
    {% endblock stylesheets %}

    {% if app.environment != 'dev' %}
    <script src="//code.jivosite.com/widget.js" jv-id="5de8LvYDEx" async></script>
    {% endif %}

</head>
<body cz-shortcut-listen="true">
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('public') }}">
                    <img src="{{ asset('build/images/isologo.png') }}"
                         height="50" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
                        <li><a href="{{ path('administrador') }}">ADMIN</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menú <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('pagina', {'pagina': 'instructivoInformativo'}) }}">Instructivo
                                    Informativo</a></li>
                            <li><a href="{{ path('documentos') }}">Documentos</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">B.O.M.</a>
                                <ul class="dropdown-menu">
                                    {% for anio in anios_boletines %}
                                        <li><a {% if loop.first %}tabindex="-1"{% endif %}
                                               href="{{ path('boletines', {anio: anio.anio}) }}">{{ anio.anio }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Consolidaciones</a>
                                <ul class="dropdown-menu">
                                    {% for consolidacion in consolidaciones %}
                                        <li><a {% if loop.first %}tabindex="-1"{% endif %}
                                               href="{{ path('ver_consolidacion',{id: consolidacion.id}) }}">{{ consolidacion.titulo }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="{{ path('buscador') }}">Buscar Ordenanzas</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


{% block content %}
{% endblock content %}


<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="h3 section-title">Atribución</h2>
                <div class="mb-2">
                    <img class="img-responsive"
                         src="{{ asset('build/images/isologo.png') }}">
                </div>

                <p class="text-muted small">Los contenidos del Digesto Jurídico Municipal están licenciados bajo <a
                            href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento
                        2.5 Argentina License</a></p>
            </div>
            <div class="col-sm-4">
                <h2 class="h3 section-title">Otros Organismos</h2>
                <p>
                    <a target="_blank" href="https://hcdposadas.gob.ar/">Honorable Concejo Deliberante de la Ciudad de
                        Posadas</a>
                </p>
                <p>
                    <a target="_blank" href="http://posadas.gob.ar/">Municipalidad de Posadas</a>
                </p>
                <p>
                    <a target="_blank" href="http://www.infoleg.gob.ar/">Información Legislativa</a>
                </p>
                <p>
                    <a target="_blank" href="http://digestomisiones.gob.ar/">Digesto Jurídico Provincial</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="h3 section-title">Contacto</h2>
                <div>
                    <!--						<h5>Lorem ipsum dolor sit amet.</h5>-->
                    <p class="margin-40">
                        <strong>Dirección:</strong> <a href="https://goo.gl/maps/k4Sj9EMEfuT2" target="_blank">
                            {{ web.contactoDireccion }}</a><br>
                        <strong>Teléfonos:</strong> <a
                                href="tel:+54{{ web.contactoTelefono }}">{{ web.contactoTelefono }}</a>
                        <br>
                        <strong>Correo electrónico:</strong> <a
                                href="mailto:{{ web.contactoMail }}">{{ web.contactoMail }}</a>
                    </p>
                    <h5>Redes sociales</h5>

                    <div class="social-share">
                        <ul class="list-inline">
                            {% if web.contactoFacebook %}
                                <li><a target="_blank" href="{{ web.contactoFacebook }}"><i
                                                class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if web.contactoTwitter %}
                                <li><a target="_blank" href="{{ web.contactoTwitter }}"><i
                                                class="fa fa-twitter "></i></a></li>
                            {% endif %}
                            {% if web.contactoInstagram %}
                                <li><a target="_blank" href="{{ web.contactoInstagram }}"><i
                                                class="fa fa-instagram"></i></a></li>
                            {% endif %}
                            {#                            {% if web.contactoTwitter %}#}
                            {#                                <li><a target="_blank"#}
                            {#                                       href="https://www.youtube.com/channel/UC7Nfr13PyP84jWgU5FS9LGg"><i#}
                            {#                                                class="fa fa-youtube"></i></a></li>#}
                            {#                            {% endif %}#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
{{ encore_entry_script_tags('js/web') }}
</html>