{% extends '/Web/layout.html.twig' %}

{% block title %}{{ titulo }} -{% endblock title %}

    {% block meta_social %}

        {% set description = contenido | excerpt('20')  %}
        {% set url = app.request.uri %}
        {% set image = absolute_url(asset('build/images/portada-share.jpg')) %}

        {# facebook #}
        <meta property="og:url"
              content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ titulo }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ image }}"/>

        {# twitter #}
        <meta name="twitter:card" content="summary"/>
        {#        <meta name="twitter:site" content="@djmposadas"/>#}
        {#        <meta name="twitter:creator" content="@djmposadas"/>#}
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:title" content="{{ titulo }}"/>
        <meta property="og:description"
              content="{{ description }}"/>
        <meta property="og:image"
              content="{{ image }}"/>

    {% endblock meta_social %}

{% block content %}
    <div class="page-header text-center">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="container">

        <section class="" style="padding-bottom: 140px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {#                    <div class="row text-center">#}
                    {#                        <div class="col-sm-12">#}
                    {#                            <h2 class="m-b-3">{{ titulo }}</h2>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div>
                        {{ contenido | raw }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}