{% extends 'base.html.twig' %}

{% block title %}{{ norma }} - Cargar Texto Consolidado{% endblock %}

{% block body %}
    <h1>{{ norma }} - Cargar Texto Consolidado</h1>
    <h4>{{ ultimaConsolidacion }}</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        <a class="btn btn-link" href="{{ path('norma_edit', {id: norma.id}) }}">Volver a la {{ norma }}</a>
    {{ form_end(form) }}
{% endblock %}
