<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="text/x-icon" href="{{ asset('favicon.png') }}">
    <title>{% block title %}Bienvenido!{% endblock %} | Digesto Jurídico Municipal</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {{ encore_entry_link_tags('css/adminlte') }}
    {{ encore_entry_link_tags('css/app') }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% block stylesheets %}{% endblock %}
    {{ encore_entry_script_tags('js/adminlte') }}
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('administrador') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>D</b>JM</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Digesto</b> Jurídico</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('build/images/avatar.png') }}" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ app.user }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ asset('build/images/avatar.png') }}" class="img-circle" alt="User Image">

                                <p>
                                    {{ app.user }} - {{ app.user.roles[0] }}
                                    {#<small>{{ app.user.fechaCreacion | date('d/m/Y') }}</small>#}
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {{ knp_menu_render('main', {'currentClass': 'active', 'ancestorClass':'active'}) }}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Versión</b> {{ app_version }}
        </div>
        <strong>Copyright &copy; 2019 <a target="_blank" href="http://digesto.hcdposadas.gob.ar">{{ app_name }}</a>.</strong> Todos los derechos reservados.
    </footer>


    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{{ encore_entry_script_tags('js/functions') }}
<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% block javascripts %}{% endblock %}


</body>
</html>
