{% extends '/app_temp/layout_app.html.twig' %}
{% block content %}

    <div class="page-header text-center">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="container">

        <section class="mb-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.rama) }}</div>
                            <div class="col-md-6">{{ form_row(form.numero) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.anio) }}</div>
                            <div class="col-md-6">{{ form_row(form.palabra) }}</div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                {{ form_row(form.buscar) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>


    </div>
{% endblock content %}