<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="text/x-icon" href="{{ asset('favicon.png') }}">
    <title>{% block title %}Inicio -{% endblock title %} Digesto Jurídico Municipal Posadas</title>

    <!-- Nav and address bar color -->
    <meta name="theme-color" content="{{ primary_color }}">
    <meta name="msapplication-navbutton-color" content="{{ primary_color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ primary_color }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    {{ encore_entry_link_tags('css/web') }}
    {{ encore_entry_link_tags('css/app') }}

</head>
<body cz-shortcut-listen="true">
{% block content %}
{% endblock content %}
</body>
{{ encore_entry_script_tags('js/web') }}
</html>