{% extends '/Web/layout.html.twig' %}
{% block stylesheets %}
	<style>
		.jumbotron {
			background: /* top, transparent red, faked with gradient */
			linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* bottom, image */ url('{{ asset('build/images/portada.png') }}');
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media screen and(min-width: 900px) {
			.panel.panel-default .panel-heading {
				min-height: 300px;
			}
		}

		.panel.panel-default .panel-heading {
			min-height: 340px;
		}
	</style>
{% endblock stylesheets %}
{% block content %}

	<main role="main">
		<section class="jumbotron">

			<div class="container jumbotron_body">
				<div class="row">

					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 1}) }}" class="btn btn-info btn-lg">CÓDIGO DE NOCTURNIDAD / NIGHT CODE / CÓDIGO DE NOCTURNIDADE</a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 7}) }}" class="btn btn-info btn-lg">ALCOHOL CERO / ALCOHOL ZERO TOLERANCE / ÁLCOOL ZERO</a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 2}) }}" class="btn btn-info btn-lg">POSADAS CIUDAD “LIBRE DE PIROTECNIA” / POSADAS WITHOUT PYROTECHNICS / POSADAS, CIDADE "LIVRE DE FOGOS DE ARTIFÍCIO"</a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 3}) }}" class="btn btn-info btn-lg">ORDENANZA DE RUIDOS MOLESTOS / ANNOYING SOUNDS /  NORMA DE RUÍDOS INDESEJADOS</a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 4}) }}" class="btn btn-info btn-lg">SISTEMA DE ESTACIONAMIENTO MEDIDO / PARKING SYSTEM / SISTEMA DE ESTACIONAMENTO MEDIDO </a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 5}) }}" class="btn btn-info btn-lg">MARCO REGULATORIO DE CONVIVENCIA CIUDADANA / COEXISTENCE RULES / MARCO REGULATÓRIO DE CONVIVÊNCIA CIDADÃ </a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
						<a href="{{ path('turistaVer', { 'id': 6}) }}" class="btn btn-info btn-lg">CUIDADO RESPONSABLE DE MASCOTAS / PET CARES AND OWNERS RESPONSABILITY / CUIDADO RESPONSÁVEL DE ANIMAIS DE ESTIMAÇÃO </a>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-3 text-center" >
						<a href="https://misiones.tur.ar/web/pub_fisca/DenunciaAV.php" class="btn btn-danger btn-lg">DENUNCIAR AGENCIA DE VIAJES / COMPLAINT TRAVEL AGENCY</a>
					</div>
<div class="col-xs-12 col-md-6 col-md-offset-3 text-center" >
						<a href="https://www.turismoposadas.tur.ar/" class="btn btn-success btn-lg">TURISMO POSADAS</a>
					</div>       
				</div>
			</div>

		</section>
		<section class="p-b-0 prologo">
			<div class="container ">

				<section class="" style="padding-bottom: 140px;">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">

							        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="m-b-3">BIENVENIDO TURISTA</h2>
            </div>
        </div>
        <div>
        <p>
           En esta sección encontrarás las normas vigentes en nuestra ciudad mas relevantes para hacer que tu visita sea de lo mas positiva, estas normas tienen incidencia en los temas mas populares y de interés para todos nuestros visitantes, tales como Mascotas, Alcohol cero, estacionamiento, código de nocturnidad, e incluso códigos de convivencia ciudadana. Respetar y hacer respetar estas normas tienen como resultado una experiencia mucho mas placentera y segura, tanto para quienes nos visitan como para quienes moramos aqu&#237;.
	</p>
<p>
Desde la Dirección de Digesto Jur&#237;dico agradecemos su visita y les deseamos la mejor de las estad&#237;as. 
        </p>
    </div>
<div class="row text-center">
            <div class="col-sm-12">
                <h2 class="m-b-3">WELCOME TOURIST</h2>
            </div>
        </div>
        <div>
        <p>
<i>
	In this section you will find the most relevant rules in force in our city to make your visit the most positive, these rules have an impact on the most popular topics and of interest to all our visitors, such as pets, zero alcohol, parking, night code, and even codes of citizen coexistence. Respecting and enforcing these rules results in a much more pleasant and safe experience, both for those who visit us and for those who live here. 
</i>       
	</p>
	<p>
<i>
	From the Directorate of Legal Digest we appreciate your visit and wish you the best of stays.
</i>        
</p>
    </div>
	<div class="row text-center">
		<div class="col-sm-12">
			<h2 class="m-b-3">BEM-VINDO, TURISTA</h2>
</div>
</div>
<div>
<p>
<i>
Nesta seção, você encontrará as normas vigentes em nossa cidade mais relevantes para tornar sua visita o mais positiva possível. Essas normas têm impacto nos temas mais populares e de interesse para todos os nossos visitantes, como animais de estimação, proibição de álcool, estacionamento, código de vida noturna e até códigos de convivência cidadã. Respeitar e fazer respeitar essas normas resulta em uma experiência muito mais agradável e segura, tanto para quem nos visita quanto para quem reside aqui.
</i></p>
<p>
<i>
Da Direção de Digesto Jurídico, agradecemos sua visita e desejamos a você a melhor estadia possível.</i>
</p>

						</div>
					</div>
				</section>
			</div>
		</section>

	</main>


{% endblock content %}
